.Welcom{
    width: 90%;
    margin-top: 60px;
    padding: 12px;
    background: #fff;
}
.welcomContainer{
    display: flex;
}
.descriptionContainer{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.2rem;
}
.descriptionContainer h2{
    width: 70%;
    font-size: 2.5rem;
    line-height: 43px;
    word-spacing: 3px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold;

}
.descriptionContainer p{
    width: 75%;
    font-size: 1.1rem;
    text-align: left;
    color: rgb(15, 14, 14);
    margin-bottom: 10px;
    line-height: 30px;
    word-spacing: 5px;
    letter-spacing: 1px;
    text-align: justify;
}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
button{
    border: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #555b6d;
    text-transform: capitalize;
}
button a{
    color: #fff;
}
.profilContainer{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.profilContainer img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 80px;
    z-index: 1;
    animation: animimg infinite 10s ease-in-out;
}
@keyframes animimg{
20%{
    transform: translateY(30px);
}
50%{
    transform: translateY(20px);
}
70%{
    transform: translateY(10px);
}
80%{
    transform: translateY(0px);

}
90%{
    transform: translateY(-20px);
}
100%{
    transform: translateY(-30px);

}
}
.contain{
    position: absolute;
    top: 0;
    right: 0;
    width: 263px;
    height: 520px;
    border-radius: 12px;
    background-color: tomato;
    transform: rotate(40deg);
    animation: anima  2s;
}
@keyframes anima{
    20%{
        transform: rotate(1800deg);
        height: 0px;
        background: tomato;
    }
    30%{
     transform: rotate(250deg);
height: 420px;
background-color: tomato;
    }
    50%{
             transform: rotate(1250deg);

    }
    80%{
         transform: rotate(250deg);
         transform: scale(50);
    }
    100%{
         transform: rotate(50deg);
    }
    
}
